{% extends "auctions/layout.html" %}
{% block title %}
    Categories
{% endblock %}
{% block body %}
    {% if message %}
        <strong>{{ message }}</strong>
    {% endif %}
    <h2>Categories</h2>
    {% for category, listings in listings_by_category.items %}
        <ul>    
            <li>
                {{ category }}
                {% for listing in listings %}
                <ul>    
                    <li>
                        <a href="{% url 'viewListing' listing.0 %}">
                            {{ listing.1 }}
                        </a>
                    </li>
                </ul>
                {% endfor %}
            </li>
        </ul>
    {% endfor %}
{% endblock %}