{% extends "auctions/layout.html" %}
{% block title %}
    Active Listings
{% endblock %}
{% block body %}
    {% if message %}
        <strong>{{ message }}</strong>
    {% endif %}
    <h2>Active Listings</h2>
    {% for listing in listings %}
        {% if listing.active %}
            <li>
                <a href="{% url 'viewListing' listing.id %}">
                    Listing {{ listing.id }}: {{ listing.title }} by {{ listing.owner }} created on {{ listing.created_at}}
                </a><br><br>
                <img src="{{ listing.imageURL }}" alt="no image provided"><br>
            </li>
            <br>
            <hr>
        {% endif %}
    {% endfor %}
    <h2>Closed Listings</h2>
    {% for listing in listings %}
        {% if not listing.active %}
            <li>
                <a href="{% url 'viewListing' listing.id %}">
                    Listing {{ listing.id }}: {{ listing.title }} by {{ listing.owner }} created on {{ listing.created_at}}
                </a>
            </li>
        {% endif %}
    {% endfor %}
{% endblock %}