{% extends "auctions/layout.html" %}
{% block title %}
    {{ listing.title }}
{% endblock %}
{% block body %}
    <h2>Listing: {{ listing.title }}</h2>
    
    <!-- if logged in -->
        <!-- add watchlist widget -->
        <!-- add button to edit listing -->
            <!-- post listing.id to updateListing view -->
    <!-- endif -->
    <!-- add image of listing -->
    <!-- name of listing -->
    <!-- current bid -->
    <!-- if logged in DRY?? -->
        <!-- start bid form -->
            <!-- input for bid amount -->
            <!-- submit button to place bid -->
        <!-- end bid form -->
    <!-- endif -->    
    <h5>Details</h5>
    <ul>
        <li>Listed by: {{ listing.owner }}</li>
        <li>Category: {{ listing.category }}</li>
    </ul>
{% endblock %}