{% extends "auctions/layout.html" %}
{% block title %}
    {{ listing.title }}
{% endblock %}
{% block body %}

    {% if message %}
        <strong>{{ message }}</strong>
    {% endif %}

    <h2>{{ listing.title }}</h2>
    <br>

    <img src="{{ listing.imageURL }}" alt="no image provided"><br><br>
    {% if owner %}
        <a href="{% url 'updateListing' listing.id %}">Update Listing</a> <br>
        <a href="{% url 'closeListing' listing.id %}">Close the Listing</a> <br><br>
    {% else %}
        {% if listing.active %}
            {% if on_watchList %}
                <form action="{% url 'remove_watchList' listing.id %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-primary" type="submit" value="Remove from Watchlist">
                </form>
            {% else %}
                <form action="{% url 'add_watchList' listing.id %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-primary" type="submit" value="Add to Watchlist">
                </form>
            {% endif %}
            <br>
        {% endif %}
    {% endif %}
  
    <h5>Details</h5>
    <!-- add image of listing -->
    <ul>
        <li><strong>Current Highest Bid:</strong> ${{ listing.currentBid }}</li> <!--hardcoded currency symbol, better option? how to get username of highest bid -->
        <li><strong>Listed by:</strong> {{ listing.owner }}</li> <!--link to userpage-->
        <li><strong>Category:</strong> {{ listing.category }}</li> <!--link to category-->
        <li><strong>Description:</strong> {{ listing.description }}</li> <!--link to category-->
    </ul>
    <hr>
    <h5>Bids</h5>
        {% if listing.active and not owner %}
            <form action="{% url 'submitBid' listing.id %}" method="post">
                {% csrf_token %}
                {{ bidForm }}
                <input class="btn btn-primary" type="submit" value="Submit a Bid">
            </form>
        {% endif %}
        <br>
    {% if bids %}
        {% for bid in bids %}
        <li>
                Bid Date/Time {{ bid.created_at }} Bid Amount: ${{ bid.amount }} by {{ bid.user }}
        </li>
        {% endfor %}
    {% else %}
        No bids have been made on this listing
    {% endif %}
    <hr>
    <h5>Comments</h5>
    {% if comments %}
        {% for comment in comments %}
        <li>
            {{ comment.user }} on {{ comment.created_at }}: {{ comment.content }}
        </li>
        {% endfor %}
    {% else %}
        No comments have been made on this listing
    {% endif %}
    <br>
    <br>
    <form action="{% url 'addComment' listing.id %}" method="post">
        {% csrf_token %}
        {{ commentForm.content }}<br>
        <input class="btn btn-primary" type="submit" value="Add Comment">
    </form>
{% endblock %}