{% extends "auctions/layout.html" %}
{% block title %}
    {{ user }}'s Bids
{% endblock %}
{% block body %}
    <h2>{{ user }}'s Bids</h2>
    {% if bids %}
        {% for bid in bids %}
        <li>
            <a href="{% url 'viewListing' bid.listing.id %}">
                Bid ${{ bid.amount }} on Listing {{ bid.listing.id }}: {{ bid.listing.title }} placed on {{ bid.listing.created_at}}
            </a>
        </li>
        {% endfor %}
    {% else %}
        No bids have been made
    {% endif %}
{% endblock %}